@model BeeManager.Models.Przeglad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Przeglad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ul.NumerUla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrzegladu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrzegladu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StanRodziny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StanRodziny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObecnoscMatki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObecnoscMatki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscCzerwiu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscCzerwiu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notatki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notatki)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
