@model IEnumerable<BeeManager.Models.Ul>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pasieka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerUla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypUla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataZalozenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uwagi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pasieka.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerUla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypUla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZalozenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uwagi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-controller="Przeglady"
                    asp-action="Index"
                    asp-route-ulId="@item.Id"
                    class="btn btn-sm btn-outline-primary">
                    Przeglądy
                </a>
                <a asp-controller="Miodobrania"
                    asp-action="Index"
                    asp-route-ulId="@item.Id"
                    class="btn btn-sm btn-outline-success">
                    Miodobrania
                </a>


            </td>
        </tr>
}
    </tbody>
</table>
